
.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Gratifications
      -# %small All New Now Posts
    %ol.breadcrumb
      %li
        %a{:href => admin_root_path}
          %i.fa.fa-dashboard
          Home
      %li.active
        %a{:href => admin_gratifications_path}
          Gratifications
  / Main content
  %section.content
    .row
      .col-xs-12
        .box
          .box-header
            %h3.box-title All Gratifications
            .box-tools
              %a{:href => new_admin_gratification_path}
                %button.btn.btn-sm.btn-default
                  %i.fa.fa-plus-circle
          .box-body.table-responsive.no-padding
            %table.table.table-hover{:style => "width: 100%;"}
              %tr
                %th Title
                %th Message
                %th Search Term
                %th Button Label
                %th Active
              - @gratifications.each do |gratification|
                %tr
                  %td= gratification.title
                  %td= gratification.message
                  %td= gratification.keyword
                  %td= gratification.button_label
                  %td= gratification.active
                  %td
                    %span= link_to "", edit_admin_gratification_path(gratification), class: 'btn fa fa-pencil'
                    %span= link_to "", admin_gratification_path(gratification), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn fa fa-trash'
