.row
	/ left column
	.col-md-8
		/ general form elements
		.box.box-primary
			.box-header.with-border
				%h3.box-title
					="New Post for #{@day.date.strftime("%B %d, %Y")}"
			/ /.box-header
			/ form start
			%h3{:style => "padding: 10px;"}
				Post Details
			= simple_form_for [:admin, @post] do |f|
				.input-container{:style => "float: left; border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal;"}
					%label
						Post Link
					= f.input_field :link, placeholder: 'Post link', class: "form-control"
				.input-container{:style => "float: left; border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					-# %label
					-# 	Headline
					-# = f.input_field :headline, placeholder: 'Post Title', class: "form-control"
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					%label
						Category
					= f.input_field :category, placeholder: 'Post Category', class: "form-control"
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					-if @post.image.portrait.url != nil
						%label
							Still Image
						-# = f.input :image, as: :file, label: false
						-# = f.hidden_field :image_cache
						%br
						=image_tag(@post.image.portrait.url)
						=f.file_field :image
						=f.hidden_field :image_cache
					-else
						%label
							Still Image
						-# = f.input :image, as: :file, label: false
						-# = f.hidden_field :image_cache
						%br
						=f.file_field :image
						=f.hidden_field :image_cache


				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					%label
						Body
					= f.input_field :body,  placeholder: 'Post Body', class: "form-control"
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					.div	Color Theme
					%p{style: "display: inline"} Red Value
					= f.input_field :r_value, placeholder: 'R Value', class: "color-form-control"
					%p{style: "display: inline"} Green Value
					= f.input_field :g_value, placeholder: 'R Value', class: "color-form-control"
					%p{style: "display: inline"} Blue Value
					= f.input_field :b_value, placeholder: 'R Value', class: "color-form-control"
					%p{style: "display: inline"} Alpha Value
					= f.input_field :a_value, placeholder: 'R Value', class: "color-form-control"

				-# .input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
				-# 	%label
				-# 		Length
				-# 	= f.input_field :length, placeholder: "Length to read", class: "form-control"
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					= f.hidden_field :date, value: @day.date
					= f.hidden_field :day_id, value: @day.id
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					%label
						Link Message
					= f.input_field :link_text, placeholder: 'Link Text', class: "form-control"
				.input-container{:style => "border: none; padding: 9px; outline: none; margin: 0 0 0 5px; font-family: os-regular; font-size: 20px; color: #000; font-weight: normal"}
					%label
						Position
					= f.input_field :position, placeholder: "Position", class: "form-control"

				.input-container.submit-btn-wrapper
					= f.submit "Submit", as: :int, class: "submit-btn validate-form"
